@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap');
a{
    text-decoration:none;
    color:initial;
}
ul, ol{
    list-style:none;
    padding-left:0px;
}
$h1:60px;
$h2:45px;
$p-normal:13px;

/*icons*/
.location{
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px;
    background:url("../img/icons/location.svg") no-repeat;
    margin:0px 10px;
    background-position:center;
}
.phone{
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px;
    background:url("../img/icons/phone.svg") no-repeat;
    margin:0px 10px;
    background-position:center;
}

.brandIsoDark{
    width:100px;
    height:100px;
    display:block;
    background:url("../img/iso.svg") no-repeat;
    background-position:center;     
}
/*end icons*/
.btn{
    border-radius:0px;
    border:none;
    box-shadow:none;
}
.btn-inst{
    background:#333333;
    color:white;
    font-size:$p-normal;
    width:200px;
    height:40px;
    &:hover{
        transform:scale(1.05);
        color:white;
    }
}
.BrandLink{
    background:url("../img/iso.svg");
    width: 60px;
    height: 100px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.navbar-brand{
    background:url("../img/iso-white.svg");
    width: 60px;
    height: 100px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.navbar-toggler{
    background:url("../img/menu.svg");
    width: 50px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size:80%;
}
.main-menu{
    .navbar-toggler{
        background:url("../img/close.svg");
        width: 60px;
        height: 30px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
.title-style, .top-tittle{
    font-family: 'Playfair Display', serif;
}
.flex{
    display:flex;
}


.home{
    background:url("../img/bg-home.jpg")no-repeat;
    background-position: top center;
    background-size:100%;
    .bottom{
        footer{
            display:flex;
            justify-content: center;
        }
    }

}
.project-page{
    .middle{
        padding-top:0px;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        right:0px;
                        padding:40px 20px;
                        left:initial;
                        bottom:25vh;
                        overflow: hidden;
                        top:20vh;
                        .inner{
                            padding:20px;
                            span.top-tittle{
                                color:#333333;
                                text-transform:uppercase;
                                letter-spacing: 10px;
                            }
                            h2.title-style{
                                font-size:$h2;
                                line-height:$h2;
                                text-transform:uppercase;
                                width:80%;
                                color:#333333;
                                margin:10px 0px 20px 0px;
                            }
                            .short-description{
                                margin-top:20px;
                                p{
                                    color:#333333;
                                    font-size:$p-normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom{
        footer{
            padding:20px;
            p{
                color:white;
            }
        }
    }
    .description{
        padding:50px;
        .first-description{
            .inner{
                padding:10px;
                h3{
                    font-size:120px;
                    margin-bottom:20px;
                    text-align:right;
                    margin-top:-20px;
                    .description-title-min{
                        display:block;
                        font-size:$p-normal;
                        padding-right:20px;
                        text-align:right;
                    }
                }
                p{
                    font-size:$p-normal;
                }
            }
        }
        .frase{
            padding:20px;
            margin:40px auto;
            h4{
                text-align:center;
                line-height:$h2;
                font-size:$h2;
            }
        }
        .last-description{
            .flex{
                justify-content: center;
                padding:20px;
                div{
                    margin:0px 20px;
                    p{
                        text-align:center;
                        font-size:$p-normal;
                        margin-bottom:0px;
                    }
                }
            }
        }
    }
    footer{
        padding:30px;
        a{
            display:flex;
            margin:20px auto;
            text-align:center;
            img{
                width:80px;
                height:auto;
                margin-right:2vw;
                margin-left:2vw;
            }
            &:after{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;

            }
            &:before{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;
            }
        }
        p{
            text-align:center;
            text-transform:uppercase;
            font-size:$p-normal;
            color:#333333;
            letter-spacing: 10px;
        }
    }
}

.project-detail-page{
    .middle{
        padding-top:0px;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        right:0px;
                        padding:40px 20px;
                        left:initial;
                        width:50vw;
                        bottom:25vh;
                        overflow: hidden;
                        top:20vh;
                        background-color:white;
                        text-align:left;
                        .inner{
                            padding:20px;
                            padding-right:10vw;
                            span.top-tittle{
                                color:#333333;
                                text-transform:uppercase;
                                letter-spacing: 10px;
                            }
                            h2.title-style{
                                font-size:$h2;
                                line-height:$h2;
                                text-transform:uppercase;
                                width:80%;
                                color:#333333;
                                margin:10px 0px 20px 0px;
                            }
                            .short-description{
                                margin-top:20px;
                                p{
                                    color:#333333;
                                    font-size:$p-normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .description{
        padding:50px;
        .first-description{
            .inner{
                padding:10px;
                h3{
                    font-size:120px;
                    margin-bottom:20px;
                    text-align:right;
                    margin-top:-20px;
                    .description-title-min{
                        display:block;
                        font-size:$p-normal;
                        padding-right:20px;
                        text-align:right;
                    }
                }
                p{
                    font-size:$p-normal;
                }
            }
        }
        .frase{
            padding:20px;
            margin:40px auto;
            h4{
                text-align:center;
                line-height:$h2;
                font-size:$h2;
            }
        }
        .last-description{
            .flex{
                justify-content: center;
                padding:20px;
                div{
                    margin:0px 20px;
                    p{
                        text-align:center;
                        font-size:$p-normal;
                        margin-bottom:0px;
                    }
                }
            }
        }
    }
    footer{
        padding:30px;
        a{
            display:flex;
            margin:20px auto;
            text-align:center;
            img{
                width:80px;
                height:auto;
                margin-right:2vw;
                margin-left:2vw;
            }
            &:after{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;

            }
            &:before{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;
            }
        }
        p{
            text-align:center;
            text-transform:uppercase;
            font-size:$p-normal;
            color:#333333;
            letter-spacing: 10px;
        }
    }
}

.contact-page{
    .middle{
        padding-top:0px;
        .navbar{
            .navbar-brand{
                background:url("../img/iso.svg")no-repeat;
                background-size:auto 100%;
            }
        }
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .mapa{
                        position:relative;
                        float:right;
                        width:50vw;
                        &:after{
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            bottom: 0px;
                            left: 0px;
                            background: rgba(73, 80, 87, 0.45);
                            content: "";
                            display: block;
                            width: 100%;
                            height: 100vh;
                            clear: both;
                        }
                        iframe{
                            width:50vw;
                            height:100vh;
                            float: right;
                            position:relative;
                        }
                    }
                    .carousel-caption{
                        left:0px;
                        padding:40px 20px;
                        right:initial;
                        width:50vw;
                        bottom:0;
                        overflow: hidden;
                        top:0;
                        background-color:white;
                        text-align:left;
                        overflow: inherit;
                        .inner{
                            position:relative;
                            top:15vh;
                            bottom:15vh;
                            left:0;
                            background:white;
                            padding:20px;
                            text-align:center;
                            display:flex;
                            align-items: center;
                            flex-direction: column;
                            form.form-contacto{
                                width:100%;
                                .flex{
                                    justify-content: center;
                                    align-items: center;
                                    .form-control{
                                        border:none;
                                        position:relative;
                                        margin-bottom:20px;
                                        height:initial;
                                        label{
                                            position:absolute;
                                            top:15px;
                                            left:20px;
                                            z-index:1;
                                            font-size:$p-normal;
                                            transition:.3s ease-in-out;
                                        }
                                        .input{
                                            width:100%;
                                            transition:0.3s ease-in-out;
                                            height:40px;
                                            line-height:40px;
                                            border:1px solid #333333;
                                            font-size:$p-normal;
                                            padding:10px;
                                            &:focus{
                                                border-image-source: linear-gradient(90deg, #84378c, #e2332d);
                                                border-width: 2px;
                                                border-image-slice: 1;
                                                outline:none;
                                                + label{
                                                    font-size: 12px;
                                                    top: -3px;
                                                    left: 20px;
                                                    z-index: 1;
                                                    background: white;
                                                    padding-right: 10px;
                                                    padding-left: 10px;
                                                }
                                            }
                                        }
                                        textarea.input{
                                            height:100px;
                                        }
                                    }
                                }
                            }
                            .flex{
                                justify-content: center;
                                p{
                                    color:#333333;
                                }
                            }
                            span.top-tittle{
                                color:#333333;
                                text-transform:uppercase;
                                letter-spacing: 10px;
                            }
                            h2.title-style{
                                font-size:$h2;
                                line-height:$h2;
                                text-transform:uppercase;
                                color:#333333;
                                margin:10px 0px 20px 0px;
                            }
                            .short-description{
                                margin-top:20px;
                                p{
                                    color:#333333;
                                    font-size:$p-normal;
                                    line-height:$p-normal+10;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .description{
        height:50vh;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .frase{
            padding:20px;
            h4{
                text-align:center;
            }
        }
    }
    .bottom{
        width:50vw;
        bottom:0px;
        z-index:17;
    }
    footer{
        padding:30px;
        a{
            display:flex;
            margin:20px auto;
            text-align:center;
            img{
                width:80px;
                height:auto;
                margin-right:2vw;
                margin-left:2vw;
            }
            &:after{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;

            }
            &:before{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;
            }
        }
        p{
            text-align:center;
            text-transform:uppercase;
            font-size:$p-normal;
            color:#333333;
            letter-spacing: 10px;
        }
    }
}
.prensa-page{
    .middle{
        padding-top:0px;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        left: 25vw;
                        padding: 40px 20px;
                        right: 25vw;
                        width: auto;
                        bottom: 25vh;
                        overflow: hidden;
                        top: 25vh;
                        background-color: white;
                        text-align: left;
                        .inner{
                            background: white;
                            padding: 20px;
                            text-align:Center;  
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction:column;
                            span.top-tittle{
                                color:#333333;
                                text-transform:uppercase;
                                letter-spacing: 10px;
                            }
                            h2.title-style{
                                text-align:Center;
                                font-size:$h2;
                                line-height:$h2;
                                text-transform:uppercase;
                                width:80%;
                                color:#333333;
                                margin:10px 0px 20px 0px;
                            }
                            .short-description{
                                margin-top:20px;
                                p{
                                    color:#333333;
                                    font-size:$p-normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .description{
        padding:50px;
        .first-description{
            .inner{
                padding:10px;
                h3{
                    font-size:120px;
                    margin-bottom:20px;
                    text-align:right;
                    margin-top:-20px;
                    .description-title-min{
                        display:block;
                        font-size:$p-normal;
                        padding-right:20px;
                        text-align:right;
                    }
                }
                p{
                    font-size:$p-normal;
                }
            }
        }
        .frase{
            padding:20px;
            margin:40px auto;
            h4{
                text-align:center;
                line-height:$h2;
                font-size:$h2;
            }
        }
        .last-description{
            .flex{
                justify-content: center;
                padding:20px;
                div{
                    margin:0px 20px;
                    p{
                        text-align:center;
                        font-size:$p-normal;
                        margin-bottom:0px;
                    }
                }
            }
        }
    }
    footer{
        padding:30px;
        a{
            display:flex;
            margin:20px auto;
            text-align:center;
            img{
                width:80px;
                height:auto;
                margin-right:2vw;
                margin-left:2vw;
            }
            &:after{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;

            }
            &:before{
                content:"";
                display: block;
                width:50%;
                border-bottom:1px solid #333333;
                position:relative;
                top:-30px;
            }
        }
        p{
            text-align:center;
            text-transform:uppercase;
            font-size:$p-normal;
            color:#333333;
            letter-spacing: 10px;
        }
    }
}
/* Body */
body.home{
    nav{
        ul{
            li{
                display:block;
                text-align:Center;
                a.title-style{
                    display:block;
                    line-height:50px;
                    margin-bottom:10px;
                    font-size: 50px;
                    color:#333333;
                    font-weight:600;
                    text-transform:uppercase;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        text-decoration: dashed;
                    }
                }
            }
        }
    }
}
body{
    padding:0;
    margin:0;
    position:relative;
    height:100vh;
    .top{
        header{
            padding:20px;
            a{
                object{
                    width:60px;
                    height:auto;
                }
            }
        }
    }
    .middle{
        padding-top:50px;
        z-index:2;
        .main-menu{
            position:absolute;
            background:url("../img/bg-main-menu.jpg") no-repeat;
            background-size:cover;
            background-attachment: fixed;
            left:0px;
            right:0px;
            top:0px;
            bottom:0px;
            height:100vh;;
            ul{
                padding-top: 10vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-self: center;
                margin-right: 0px!important;
                width: 100%;
                li{
                    display:block;
                    text-align:Center;
                    a{
                        color:White;
                        font-size:$h1;
                        line-height:$h1;
                        text-transform:uppercase;
                        font-weight:600;
                    }
                }
            }
        }
        .navbar{
            justify-content: space-between;
            .navbar-toggler{
                display:block;
                float:right;
                margin:20px;
                margin-right:0px;
                &:after{
                    clear:both;
                    content:"";
                    display:block;
                }
            }
        }
        .content{
            height:100vh;
            z-index:1;
            .navbar{
                position:fixed;
                top:0px;
                width:100%;
                display:flex;
                justify-content: space-between;
                .navbar-toggler{
                    display:block;
                    float:right;
                    margin:10px;
                    &:after{
                        clear:both;
                        content:"";
                        display:block;
                    }
                }
            }
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        a.big-one{
                            cursor:url("../img/cursor.png"), auto;
                        }
                        .carousel-caption{
                            top:30vh;
                            bottom:20vh;
                            left:30vw;
                            right:30vw;
                            span.top-tittle{
                                text-transform:uppercase;
                                color:white;
                                font-size:14px;
                                letter-spacing: 10px;
                            }
                            h2{
                                padding:20px;
                                font-size:$h1;
                                text-transform:uppercase;
                            }
                        }
                    }
                }
                .carousel-indicators{
                    bottom:30vh;
                }
            }
        }
    }
    .bottom{
        position:absolute;
        bottom:0px;
        width:100%;
        footer{
            padding:20px;
            p{
                text-transform:uppercase;
                letter-spacing: 10px;
                font-size:14px;
                text-align:Center;
            }
        }
    }
}